<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/box.png" type="image/png">
    <title>Word Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <%- include('partials/navbar') %>

    <main class="container">
        <h2><a href="/mybox" style="color: #2c3e50;">Create your own box </a> or click one of the boxes below!</h2>
        <div class="cards"> <% words.forEach((word,index) => { %>
            <div class="card color<%=++index%>" id="<%= word.level %>">
                <div class="box level-a">
                    <div class="face front"><%= word.level %></div>
                    <div class="face back"><%= word.level %></div>
                    <div class="face left"><%= word.level %></div>
                    <div class="face right"><%= word.level %></div>
                    <div class="face top"><%= word.level %></div>
                    <div class="face bottom"><%= word.level %></div>
                </div>
                <p><%= word.count %> words at level <%= word.level %> </p>
            </div>
        <% }) %></div>

        <div class="create-box">
            <a href="/mybox" class="create-box-btn">Create your own box</a>
        </div>
    </main>

    <script src="/js/index.js"></script>
</body>

</html>
